
body{
  position: relative;
  padding: 0;
  margin: 0;
}
#welcome, #loader{
  position: absolute;
  width: 100vw;
  height: 100vh;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 10;

}

#loader{
  background-color: white;
  z-index: 8;
}

.content{
  text-align: center;
}

.converter{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}
